
.gallery {
  background-color: #cccccc;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.gallerycontent {
  margin: auto;
  width: 70%;
  padding: 10% 10% 10%;
}

.galleryheader {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 50px;
}
