<div #aboutme class="aboutme">
  <div class="aboutcontent">
    <h1 class="aboutmeheader"> About Me!!!</h1>
    <div class="content2">
      <img class="aboutimage" src="assets/alma.jpg">
      <div class="aboutmessage">
        <div class="message">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Duis interdum, tortor a bibendum fermentum, mauris nibh
          sollicitudin nisl, a gravida nisi est eget urna. Mauris
          varius purus eget arcu imperdiet, sit amet finibus velit
          posuere. In ipsum ante, tincidunt eget ornare sit amet,
          bibendum non augue. Aenean feugiat ac augue id dapibus. Nullam
          ut turpis quam. Suspendisse in tortor a elit tempus convallis
          nec sit amet orci. Proin tempor quam vitae purus commodo commodo.
          Duis tempus id orci eget mattis. Nullam et bibendum ipsum.
          Donec at tellus nunc. Aenean metus enim, ultrices ac metus
          eu, tempus efficitur eros. Cras rutrum pretium quam, eget
          eleifend metus.
        </div>
      </div>
    </div>
  </div>
  <div class="links2">
    <app-links></app-links>
    <div class="email">
      <p>Contact me?</p>
      <p>almanzobean@gmail.com</p>
    </div>
  </div>
</div>
