.container {
  position: relative;

}

.image {
  display: block;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: blueviolet;
}

.container:hover .overlay {
  opacity: .50;
}
.container:hover .text {
  opacity: 1;
  transition: .5s ease;
}
.text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 100%;
}
.temp {
  padding: 10px;
  position: absolute;
  bottom: 2%;
}
