<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AlmaShowcase</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="content">
    <div class="arrow bounce">
        <button mat-icon-button (click)="scroll(target)">
          <i class="fa fa-arrow-circle-down fa-4x" aria-hidden="true"></i>
          <!--<mat-icon>favorite</mat-icon>-->
        </button>
    </div>

  </div>
  <div class="home">
    <div class="navmenu">
      <div class="navbuttons">
        <button mat-button class="btn1">
          This is a button
        </button>
        <button mat-button class="btn1">
          This is a button
        </button>
        <button mat-button class="btn1">
          This is a button
        </button>
      </div>
      <div class="links">
        <button mat-button>
          <i class="fa fa-twitch fa-2x" aria-hidden="true"></i>
        </button>
        <button mat-button>
          <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
        </button>
        <button mat-button>
          <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div #target class="commisions">
  <app-card-list [arts]="arts"></app-card-list>
  </div>
</body>
</html>
